<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<jsp-file>/WEB-INF/jsp/addPlacard.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>PlacardAddServlet</servlet-name>
		<servlet-class>com.joepher.servlet.PlacardAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlacardEditServlet</servlet-name>
		<servlet-class>com.joepher.servlet.PlacardEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/IndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlacardAddServlet</servlet-name>
		<url-pattern>/PlacardAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlacardEditServlet</servlet-name>
		<url-pattern>/PlacardEditServlet</url-pattern>
	</servlet-mapping>
</web-app>
